*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(0,151,136);
background: linear-gradient(180deg, rgba(0,151,136,1) 20%, rgba(218,219,213,1) 20%);
}
li{
  list-style-type: none;
}

.main-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interface{

  background-color: white;
  display: flex;
  height: 90%;
  width: 80%;
}
.account-img{
  width: 45px;
  height: 45px;
}
.account-img img{
width: 100%;
border-radius: 50%;
}
/* Left Column */
.leftCol{
  min-width: 300px;
  width: 30%;
  background-color: aqua;
}
.user{
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #eaeaea;
  border-right: 1px solid darkgray;
  padding: 0 5px;
}
.left{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}
.notification{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  background-color: #8edafc;
  padding-left: 20px;
}
.notification i{
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
}
.notification span{
  display: block;
  margin-left: 10px;
}
.search{
  height: 35px;
  background-color: white;
}
.friendList{
  height: calc(100% - 145px);
  background-color: white;
  overflow-y: scroll;

}
.friend{
  height: 40px;
  background-color: #e9ebea;
}
/* --Left Column */

/* Right Column */
.secondCol{
  min-width: 450px;
  width: 70%;
  background-color: white;
}
.friendSelected{
  height: 50px;
  background-color: #eaeaea;
}
.chat{
  height: calc(100% - 100px);
  background-image:url('../img/mine.jpg');
  overflow-y: scroll;
}
.userInput{
  height: 50px;
  background-color: #f3eeea;
}
/* --Right Column */


